<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">Course Marketplace</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link <%= current_page?(courses_path) ? 'active' : '' %>" href="<%= courses_path %>">All Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= current_page?(swipes_path) ? 'active' : '' %>" href="<%= swipes_path %>">Course Feed</a>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <a class="nav-link <%= current_page?(saved_classes_path) ? 'active' : '' %>" href="<%= saved_classes_path %>">Saved Courses</a>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if current_user %>
          <li class="nav-item">
            <span class="nav-link text-light">Welcome, <%= current_user.email %></span>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-light my-2 my-sm-0" %>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link <%= current_page?(login_path) ? 'active' : '' %>" href="<%= login_path %>">Login</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav> 